 .b{
  width: 100%;
  height: 84vh;
  background: linear-gradient(
    to top,
    rgb(245, 101, 125) 0%,
    rgb(245, 101, 125) 50%,
    white 50%,
    white 100%
  );
}
.button:hover{
  color:white;
}