/* this is before login stylesheet*/
.bimg {
    background-image: url('./Components/Images/first-meet-during-dating.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 660px;
    animation-name: backgroundchange;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}


.star-logo {
    color: rgb(233, 233, 48);
    font-size: large;

}

.form-style {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-error {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.feedback {
    background-image: url('./Components/Images/first-meet-during-dating.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 660px;

}

.match {
    background-image: url('./Components/Images/first-meet-during-dating.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 635px;
}


/*background colour*/

/* @keyframes backgroundchange
    {
         0%
         {
            background-image:url('./Components/Images/first-meet-during-dating.jpg') ;
         }
         25%
         {
            background-image: url('./Components/Images/first-meet-during-dating.jpg');
         }
         50%
         {
            background-image: url('./Components/Images/images4047-5efcca5ae37c0.jpg');
            
         }
         75%
         {
            background-image: url('./Components/Images/marriage-Hand.jpg');
            
         }
         100%
         {
            background-image: url('./Components/Images/marriage-Hand.jpg');
         }
    } */

.headerset {
    padding-top: 400px;
    font-family: cursive;
    box-sizing: border-box;
}

.tagline {
    font-family: 'Kaushan Script', cursive;
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-weight: bolder;
}

.heading1 {
    font-weight: bolder;
    font-family: 'Kaushan Script', cursive;
    font-size: clamp(1.5rem, 4vw, 3.8rem);

}

.content {
    font-family: 'Bree Serif', serif;
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
    color: gray;
}

.specialtagline {
    color: #de3163;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-size: clamp(2rem, 4vw, 4rem);
}

/*someone special*/
.logo {
    font-size: 70px;
    margin-top: 30px;

}

.specialsomeone {
    padding: 3%;
}

.rowsetting {
    margin-top: 7%;

}

.imgsetting {

    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: lightslategray;
    color: white;

}

ul {
    font-size: 18px;
}

li {
    padding-left: 20px;
}



.rowsetting h5 {
    padding: 10px;
}

.rowsetting h3 {

    margin-top: 10px;

}

/* responsive */
@media(min-width:992px) {}

@media(min-width:768px) and(max-width:991px) {}

@media(min-width:575px) and (max-width:767px) {}

@media (min-width:460px) and (max-width:574px) {}

/* background image for login*/

.backg {
    background-image: url('https://cdn.wallpapersafari.com/88/45/06fCAx.jpg');
    background-size: cover;
    background-position: center;
    height: max-content;
    min-height: 100vh;
    width: 100vw;
}



.bimgm {
    background-image: url('./Components/Images/first-meet-during-dating.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: max-content;
    min-height: 100vh;
    width: 100vw;
}

.partnerhead {

    font-family: 'Bree Serif', serif;
}

.searchbg {
    background-image: url('https://www.proteanmed.com/vendor/protean/images/banner_about.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: max-content;
    min-height: 100vh;
    width: 100vw;
}

.paymentbg {
    background-color: aquamarine;
    min-height: 710px;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
}

.labelset {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

.butw:hover {
    background-color: black;
}

/* this style is for privacy verified profile logo */
.privacylogo {

    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid black;

}

.privacylogo2 {

    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid red;

}

/* payment page stye */
.listp {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(60, 56, 56);
    font-weight: 600;
    list-style-type: none;
}

.cardp:hover {
    transform: scale(0.9);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.btnp:hover {
    background-color: rgb(50, 137, 50);
}

/* search card hover */
.cardsearch:hover {
    transform: scale(0.9);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.rowp {
    display: flex;
    flex-direction: row;
}

.qrsearch:hover {

    box-shadow: 5px 5px 5px 12px rgb(194, 196, 197);

}

/*pay details*/
.paytext {
    color: rgb(136, 136, 230);
}

.plancon {
    float: left;
    width: 28%
}


.cardstyle {
    width: 65%;
    padding-top: 3%;
    padding-bottom: 4%;
}

.card-mt {
    margin-left: 2%;
    margin-right: 2%;
}

.responsive-width {
    width: 100%;
    margin: 4px;
}

@media (min-width:600px) {
    .responsive-width {
        width: 80%;
        margin: auto;
    }
}

@media (min-width:900px) {
    .responsive-width {
        width: 55%;
        margin: auto;
    }
}

.cardbg {
    background-color: white;
}

/*admin side coding*/
.hd {
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    font-weight: bolder;
}

.grow-font-size {

    font-size: larger;
}

.left_view h3 {

    font-size: 21px;
}

.right_view h3 {

    font-size: 21px;
}

.fam {
    font-family: cursive;
    font-size: large;
    font-weight: bold;
}

.fo {
    font-family: 'Bree Serif', serif;

}

button {
    text-decoration: none;
}

Link {
    text-decoration: none;
}

.ff {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;

}




.cardstyle {
    padding-top: 3%;
}

.cardbg {
    background-color: white;
}

.card-mt {
    margin-left: 2%;
    margin-right: 2%;
}

.searchbg {
    background-image: url('https://www.proteanmed.com/vendor/protean/images/banner_about.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 650px;
}

/* search card hover */
.cardsearch:hover {

    box-shadow: 5px 5px 5px 12px rgb(181, 233, 247);

}

.dash {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin-top: -9px;
    margin-left: 55px;
}

.dash1 {
    width: 190px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: -17px;
    margin-left: 56px;
    color: white;

}

input.inputBox {
    font-size: 22px;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #666;

}

.calendarWrap {
    display: inline-block;
    position: relative;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
}